.teamPage {
  display: flex;
  justify-content: space-around;
  .articleListContainer {
    width: 65%;
    min-height: 580px;
    padding: 24px;
    box-shadow: 0px 0px 24px #ddd;
    .infoWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 24px;
      .avatar {
        overflow: hidden;
        height: 100px;
        width: 100px;
        margin-right: 24px;
        object-fit: cover;
        border-radius: 10px;
      }
      .infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        .name {
          font-size: 24px;
          color: #535353;
          margin-bottom: 8px;
          .tip {
            margin-left: 12px;
            font-size: 16px;
            color: #00ADB5;
          }
        }
        .infoItem {
          font-size: 14px;
          margin-bottom: 8px;
          span {
            margin-right: 24px;
            svg {
              margin-right: 8px;
            }
          }
        }
        .abstract {
          font-size: 14px;
        }
      }
    }
    .nothingContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      img {
        width: 120px;
      }
      .nothingTip {
        color: #535353;
        font-size: 16px;
      }
    }
  }
  .memberContainer {
    width: 33%;
    padding: 24px;
    box-shadow: 0px 0px 24px #ddd;
    .header {
      height: 40px;
      font-size: 22px;
      border-bottom: 3px solid #eee;
      >span {
        padding-left: 6px;
        line-height: 1.2;
        border-left: 3px solid #00ADB5;
      }
      button {
        width: 36px;
        height: 36px;
        margin: 0 2px;
      }
    }
    .infoList {
      padding: 12px;
      font-size: 15px;
      .infoItem {
        margin: 10px 0;
        svg {
          margin-right: 10px;
        }
        i {
          margin: 0 8px 0 4px;
          color: #00ADB5;
        }
      }
    }
    .memberList {
      padding: 16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .memberItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33%;
        margin: 8px 0;
        overflow: hidden;
        .memberAvatar {
          position: relative;
          .showHandler {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            padding: 10px 0;
            font-size: 15px;
            color: #fff;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 50%;
            transition: all .5s;
            .transfer {
              margin-bottom: 1200px;
              cursor: pointer;
              transition: all .3s;
            }
            .transfer:hover {
              color: @primary-color;
            }
            .kickOut {
              cursor: pointer;
              transition: all .3s;
            }
            .kickOut:hover {
              color: @primary-color;
            }
          }
          .showHandler:hover {
            .transfer {
              margin-bottom: 0;
            }
          }
          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
          }
        }
        .name {
          margin-top: 12px;
          font-size: 15px;
          color: #535353;
        }
        .name:hover {
          color: @primary-color;
        }
      }
    }
  }
  :global {
    .ant-pagination {
      display: flex;
      justify-content: flex-end;
      margin: 0 12px;
    }
    .ant-spin {
      position: absolute;
      top: 40%;
      left: 40%;
    }
    .ant-tabs-nav .ant-tabs-tab {
      width: 120px;
      padding: 0;
      margin: 0;
      text-align: center;
    }
  }
}

.tabBtn {
  font-size: 16px !important;
  span {
    display: flex;
    align-items: center;
    line-height: 1.2;
  }
  svg {
    margin-right: 6px;
  }
}

.inviteModal {
  width: 810px !important;
  .inviteMember {
    display: flex;
    flex-wrap: wrap;
    .notTeamUser {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 116px;
      margin: 12px 18px;
      .avatar {
        position: relative;
        margin-bottom: 16px;
        .showHandler {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          font-size: 14px;
          color: #fff;
          background: rgba(0, 0, 0, 0.6);
          border-radius: 50%;
          transition: all .5s;
          .invite {
            cursor: pointer;
          }
          .invite:hover {
            color: @primary-color;
          }
        }
        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .actions {
        span {
          margin: 0 6px;
          cursor: pointer;
        }
        span:hover {
          color: @primary-color;
        }
      }
    }
  }
  .modalFooter {
    padding: 0 16px;
  }
  .cancelBtn {
    color: #fff;
    background: #f38181;
  }
  .cancelBtn:hover {
    background: #f38181;
  }
}