.articleDetail {
  position: relative;
  width: 66%;
  min-width: 500px;
  max-width: 1000px;
  margin: 0 auto;
  :global {
    .ant-spin {
      position: fixed;
      top: 50%;
      left: 50%;
    }
  }
  .titleContainer {
    padding: 16px;
    color: #00ADB5;
    .title {
      width: auto;
      font-size: 32px;
    }
  }
  .info {
    display: flex;
    align-items: center;
    margin: 12px;
    .avatar {
      width: 60px;
      height: 60px;
      margin-right: 16px;
      object-fit: cover;
      border-radius: 50%;
    }
    .infos {
      .author {
        margin-bottom: 2px;
        font-size: 16px;
        color: #3f3f3f;
      }
      .infoItems {
        font-size: 14px;
        color: #868686;
      }
    }
  }
  .contentContainer {
    min-height: 50vh;
    margin: 48px 0;
    margin-left: 32px;
    font-size: 15px;
    line-height: 1.8;
    color: #444;
    :global {
      pre :has(code) {
        background: #333;
        code {
          color: #fff;
        }
      }
    }
  }
  .rewardContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px 0 48px;
    .reward {
      display: flex;
      flex-direction: column;
      align-items: center;
      .tip {
        margin-bottom: 12px;
        font-size: 16px;
        color: #868686;
      }
    }
    img {
      position: absolute;
      z-index: 2;
      width: 200px;
      bottom: -100px;
      right: 100px;
      box-shadow: 0 0 8px #ccc;
    }
  }
  .comments {
    padding-bottom: 48px;
    .commentsHeader {
      margin: 20px 0;
      padding-left: 14px;
      font-size: 22px;
      border-left: 4px solid #00ADB5;
    }
    .commentBox {
      display: flex;
      margin-bottom: 32px;
      align-items: center;
      .avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}