.articleItem {
  width: 100%;
  height: auto;
  min-height: 110px;
  margin: 20px 30px 40px 0;
  padding: 0 8px;
  border-radius: 6px;
  box-shadow: 1px 2px 3px #ddd;
  .articleHeader {
    display: flex;
    align-items: center;
    padding: 8px;
    .cateTag {
      margin-left: 12px;
      height: 28px;
      line-height: 28px;
      font-size: 14px;
    }
    .articleTitle {
      font-size: 24px;
      color: #00ADB5;
      cursor: pointer;
    }
    .articleTitle:hover {
      opacity: .8;
    }
  }
  .articleDesc {
    padding: 8px;
    .articleInfo {
      margin-bottom: 12px;
      font-size: 15px;
      .infoItem {
        margin-right: 24px;
        :global {
          .icon,
          .anticon {
            margin-right: 5px;
          }
        }
      }
      .tags {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #888;
        cursor: pointer;
        svg {
          margin-right: 12px;
        }
        .tag {
          margin-right: 8px;
        }
        .tag:hover {
          color: @primary-color;
        }
      }
    }
    .contentContainer {
      display: -webkit-box;
      margin-bottom: 12px;
      font-size: 16px;
      height: auto;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      :global {
        .anticon {
          margin-right: 5px;
        }
      }
    }
  }
}